/* div{
    width:100px;
    height:100px;
    background-image: url(nature.jpg);
    background-size: cover;
    color:white;
    border-radius:10px;
    position:fixed;
    right:0px;
    top:50px;
} */
.navbar {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color:red;

}
li {
    list-style-type: none;

}
.outer{
    height:400px;
    width:400px;
    background-color: cornflowerblue;
    display:flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height:100px;
    width:100px;
    background-color: darkmagenta;
}